.flip_container{
    position: relative;
    width: 350px;
    height: 200px;
    margin: 0 auto;
}

.card_face {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform .32s ease-in-out;
    width: inherit;
    height: inherit;
    border-radius: 5%;
}


.front {
    background-color: aliceblue;
}

.back {
    background-color: antiquewhite;
}

.visible{
    transform: rotateX(0);
}

.hidden{
    transform: rotateX(-180deg) translateY(5%);
    
}

